fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
alembic
pydantic[email]
python-jose[cryptography]
python-multipart
temporalio[opentelemetry]
pydantic-settings
aiokafka
prometheus-fastapi-instrumentator
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
