fastapi
uvicorn
pydantic-settings
python-jose[cryptography]
python-multipart
sentence-transformers
sqlalchemy
psycopg2-binary
pgvector
langchain
langchain-text-splitters
pymupdf
prometheus-fastapi-instrumentator
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
aiokafka
httpx
langchain-core
langchain-groq
groq
opentelemetry-instrumentation-langchain
temporalio
pymupdf4llm